.section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.textMainContainer {
    flex: 1;
}

.section1Text {
    font-size: 1.5em;
}

.section1Text1,
.section1Text2 {
    font-size: 2em;
    margin: 10px 0;
}

.section1Paragraph {
    margin: 20px 0;
}


.section1Button {
    padding: 15px 30px;
    background-color: #63A022;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.section1Button:hover {
    background-color: #87c041;
}

.hero {
    flex: 1;
    max-width: 500px;
}